# dependencies
node_modules/

# production
build/

# env
.env

# npm / npx cache (CRITICAL)
npm-cache/
**/npm-cache/**
%USERPROFILE%/AppData/Roaming/npm-cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
